@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('/assets/font/pretendard-bold-subset.woff2') format('woff2'),
    url('/assets/font/pretendard-bold-subset.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('/assets/font/pretendard-semiBold-subset.woff2') format('woff2'),
    url('/assets/font/pretendard-semiBold-subset.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('/assets/font/pretendard-medium-subset.woff2') format('woff2'),
    url('/assets/font/pretendard-medium-subset.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('/assets/font/pretendard-regular-subset.woff2') format('woff2'),
    url('/assets/font/pretendard-regular-subset.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', 'sans-serif';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* 기본 스타일 */
html,
body {
  transform-origin: top left;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}

@media (max-height: 480px) {
  html,
  body {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    height: calc(100% / 0.95);
    width: calc(100% / 0.95);
  }
}

@media (min-height: 481px) and (max-height: 568px) {
  html,
  body {
    -webkit-transform: scale(1);
    transform: scale(1);
    height: 100%;
    width: 100%;
  }
}

@media (min-height: 569px) and (max-height: 667px) {
  html,
  body {
    -webkit-transform: scale(1.17);
    transform: scale(1.17);
    height: calc(100% / 1.17);
    width: calc(100% / 1.17);
  }
}

@media (min-height: 668px) and (max-height: 736px) {
  html,
  body {
    -webkit-transform: scale(1.22);
    transform: scale(1.22);
    height: calc(100% / 1.22);
    width: calc(100% / 1.22);
  }
}

@media (min-height: 737px) and (max-height: 812px) {
  html,
  body {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    height: calc(100% / 1.25);
    width: calc(100% / 1.25);
  }
}

@media (min-height: 813px) and (max-height: 852px) {
  html,
  body {
    -webkit-transform: scale(1.27);
    transform: scale(1.27);
    height: calc(100% / 1.27);
    width: calc(100% / 1.27);
  }
}

@media (min-height: 853px) and (max-height: 926px) {
  html,
  body {
    -webkit-transform: scale(1.32);
    transform: scale(1.32);
    height: calc(100% / 1.32);
    width: calc(100% / 1.32);
  }
}

@media (min-height: 927px) and (max-height: 932px) {
  html,
  body {
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    height: calc(100% / 1.35);
    width: calc(100% / 1.35);
  }
}

@media (min-height: 933px) {
  html,
  body {
    -webkit-transform: scale(1);
    transform: scale(1);
    height: 100%;
    width: 100%;
  }
}
