@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('/assets/font/pretendard-bold-subset.woff2') format('woff2'),
    url('/assets/font/pretendard-bold-subset.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('/assets/font/pretendard-semiBold-subset.woff2') format('woff2'),
    url('/assets/font/pretendard-semiBold-subset.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('/assets/font/pretendard-medium-subset.woff2') format('woff2'),
    url('/assets/font/pretendard-medium-subset.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('/assets/font/pretendard-regular-subset.woff2') format('woff2'),
    url('/assets/font/pretendard-regular-subset.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
